<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Logo.jpeg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
      AutoPrime
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/car-list">Esplora Catalogo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUtente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/avatar.png" alt="Avatar" width="30" height="30" class="d-inline-block align-top rounded-circle me-2">
            Utente
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUtente">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><a class="dropdown-item" href="/register">Registrazione</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

  
  <!-- Main content area -->
  <main>
    <div class="container">
      <div class="hero-section">
        <h2 class="hero-title">Registrazione</h2>
        <form class="login-form" (ngSubmit)="register()">
          <div class="form-group">
            <label class="text-dark" for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
          </div>
          <div class="form-group">
            <label class="text-dark" for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Registrati</button>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
      </div>
    </div>
  </main>
  
  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-dark text-light mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Informazioni di Contatto</h5>
          <ul class="list-unstyled">
            <li>Telefono: +39 123 456789</li>
            <li>Email: info@autoprimedemo.com</li>
            <li>Indirizzo: Via delle Auto, 1 - 00100, Roma</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Seguici</h5>
          <ul class="list-unstyled d-flex">
            <li class="me-3">
              <a href="https://github.com/Max2002-code" class="text-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg> GitHub
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/massimo-berlingeri-51b7222a3/" class="text-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M2 1.53A1.53 1.53 0 0 1 3.53 0h9.94A1.53 1.53 0 0 1 15 1.53v9.94a1.53 1.53 0 0 1-1.53 1.53H3.53A1.53 1.53 0 0 1 2 11.47V1.53zM4.28 11.44H6V6H4.28v5.44zM5.14 4.94a1.57 1.57 0 1 1-.002-3.14A1.57 1.57 0 0 1 5.14 4.94z"/>
                  <rect width="2.67" height="7.47" x="7.71" y="4.94" rx=".5"/>
                </svg> LinkedIn
              </a>
            </li>
          </ul>
        </div>  
      </div>
      <hr class="mt-4 mb-3">
      <div class="row">
        <div class="col text-center">
          <p>&copy; 2024 AutoPrime. Tutti i diritti riservati.</p>
        </div>
      </div>
    </div>
  </footer>
  